.project-h1 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.project-display {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  padding: 90px;
  margin-top: 50px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.project-card {
  background: white;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  background-color: white;
  padding: 20px;
  height: auto;
  border-radius: 8px;
}

@media (min-width: 600px) {
  .project-card {
    flex: 1;
  }

  .project-display {
    margin-top: 50px;
  }
  .skills {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .project-h1 {
    margin-top: 100px;
    font-size: 45px;

    .project-container {
      gap: 40px;
      padding: 40px;
    }

    .project-card {
      max-width: 420px;
    }
  }
}
