* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0px;
  /* background-color: var(--primary-color); */
  margin: 0px;
  height: 100vh;
}

.about-title {
  position: relative;
  text-align: center;
  padding-top: 0px;
}
.about-title h1 {
  padding: 0px;
  margin-top: 0px;
  font-size: 35px;
  font-weight: 600;
  color: var(--primary-color);
}

.about_body {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin-top: 0;
}

.about_body img {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 20px;
  z-index: -1;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 100%;
  margin-bottom: 0px;
}

.skill {
  display: flex;
  align-items: center;
  transition: 0.3s;
  line-height: 20px;
}

hr {
  height: 10px;
  width: 100%;
  outline: none;
  border-radius: 40px;
  border: none;
  background: var(--primary-color);
}

.skills p {
  min-width: 120px;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}

.about-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 0;
}

@media (min-width: 768px) {
  .about_body {
    flex-direction: row;
    justify-content: space-between;
  }

  .about_body img {
    width: 200px;
    height: 200px;
  }

  .about-title h1 {
    font-size: 35px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .paragraph {
    font-size: 20px;
  }

  .skills p {
    min-width: 150px;
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .about-title h1 {
    padding: 0px;
    margin-top: 100px;
  }
  .skills {
    margin-bottom: 100px;
  }
}
