body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  font-family: "Arial", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 3px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px;
}

.navbar .logo {
  display: flex;
  color: var(--dark);
  border: 4px solid var(--dark);
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 40px;
  cursor: pointer;
  font-weight: 800;
  font-size: 20px;
  transition: 0.5s;
  margin-left: 15px;
}

.navbar .logo:hover {
  color: var(--primary-color);
  background-color: var(--dark);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.nav-links li {
  margin: 0 10px;
  position: relative;
}

.nav-links li a {
  color: var(--dark);
  text-decoration: none;
  padding: 10px 5px;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: var(--light);
}

.nav-links li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--dark);
  transition: width 0.3s ease;
  position: absolute;
  bottom: -5px;
  left: 50%;
  border-radius: 2px;
}

.nav-links li:hover::after {
  width: 100%;
  left: 0;
}

#nav-btns {
  border: none;
  color: var(--dark);
  background-color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 30px;
  background: var(--dark);
  margin: 3px 15px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    border-radius: 10px;
    width: 18%;
    position: absolute;
    top: 0px;
    right: 0;
    background: var(--primary-color);
    padding: 20px 0;
    z-index: 999;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .navbar {
    padding: 10px 15px;
  }
}

.section {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
