body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 50px;
  margin-bottom: 50px;
  height: 100vh;
}

.contact-title h1 {
  position: relative;
  text-align: center;
  padding-top: 150px;
  text-align: center;
  color: var(--primary-color);
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 20px;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.contact-left {
  margin-bottom: 20px;
}

.contact-left h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.contact-left p {
  font-size: 25px;
  line-height: 1.5;
  color: var(--primary-color);
}

.contact-details {
  margin-top: 15px;
}

.contact-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-detail img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.contact-form {
  flex: 1;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }
  .contact-container {
    padding: 0px;
    margin-bottom: 40px;
  }

  .contact-title h1 {
    font-size: 35px;
    margin-top: 150px;
  }

  .contact-left h2 {
    font-size: 25px;
  }

  .contact-left p {
    font-size: 20px;
  }

  .contact-detail img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
}

@media (max-width: 480px) {
  .contact-container {
    padding: 15px;
  }
  .contact-title h1 {
    font-size: 25px;
  }

  .contact-left h2 {
    font-size: 16px;
  }

  .contact-left p {
    font-size: 13px;
  }

  .contact-detail {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-detail img {
    margin-bottom: 5px;
  }
}
